/* GLOBAL STYLES  */
::-webkit-scrollbar {
    width: 15px;
}
::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    background: #FF5D5F;
    border-radius: 15px;
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background: #26292E;
}







#alert-block {
	display: flex; 
	justify-content: center;
	margin-top: 1.5%;
}

.searchbar {
	width: 85%;
	margin: auto;
	margin-bottom: 50px;
}

.searchbar input {
	border: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;

	box-shadow: none;	
	background: #26292E;
    color: #FFFFFF;
    font-size: 20px;
    height: 60px;
    padding: 15px;
	margin: 0;
    resize: none;
    width: 100%;
}
.searchbar input::placeholder {
	font-size: 25px;
}
.searchbar input[type="text"]:focus {
	border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: 0 0 8px rgba(255,93,95);
    box-shadow: 0 0 8px rgba(255,93,95);
}
.font-icon-search-btn {
	margin-left: 1vw;
	outline: none;
	border: none;
	display: inline-block;
	width: 64px;
	height: 60px;

	background: #26292E;
	
	-webkit-transition: all 400ms ease-out 0s;	
	   -moz-transition: all 400ms ease-out 0s;
		 -o-transition: all 400ms ease-out 0s;
		    transition: all 400ms ease-out 0s;
		  
	-webkit-transform: rotateY(0deg);
	   -moz-transform: rotateY(0deg);
		-ms-transform: rotateY(0deg);
		 -o-transform: rotateY(0deg);
			transform: rotateY(0deg);
}
.font-icon-search-btn:hover {
	background: #FF5D5F;
}
.font-icon-search-btn:hover span {
	opacity: 1;
	color: #FFFFFF;
}
.font-icon-search-btn span {
	display: inline-block;
	margin: 0;
	color: #55606a;
	font-size: 32px;
	line-height: 60px;
}

.sign-in-link {
	font-weight: 600 !important;
	font-size: 20px !important;
}



/* ========= index.html ========== */

#tag-accordion {
	margin-top: 30%;
}
.tag-button {
	background-color: #FF5D5F;
	color: #FFFFFF;
	margin-bottom: 6%;
}
.selected-tag {
	background-color: #CD9B6C !important;
}
.selected-tag:hover {
	background-color: #CDAB8A !important;
}
#scroll-down-hint {
	margin-top: 12px;
	margin-bottom: 0;
	display: none;
}


.tab-content {
	padding-bottom: 0;
}
.preview-block-link:hover .tab-content{
	background-color: #FF5D5F !important;
	transition: 0.7s;
}
.preview-block-link:hover .preview-video-title .red-text {
	color: #FFF;
}
.preview-video-title {
	color: #FFF;
	font-weight: 300;
	font-size: 20px;
}

.red-text {
	color: #FF5D5F;
}
.yellow-text {
	color: #DBA571 !important;
}
.white-text {
	color: #FFFFFF !important;
}






















/* ========= add_video.html ========== */
#contact-form .submit-add-video {
    background: #DE5E60;
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-size: 18px;
    font-weight: 500;
    padding: 16px 40px;
    text-align: center;
    vertical-align: middle;
    width: auto;
	margin-bottom: 10%;
	
	-webkit-transition: background 0.1s linear 0s, color 0.1s linear 0s;	
	   -moz-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		 -o-transition: background 0.1s linear 0s, color 0.1s linear 0s;
		    transition: background 0.1s linear 0s, color 0.1s linear 0s;
}

#contact-form .submit-add-video:hover {
    background: #DE6F70; 
}


.add-video-form label {
	font-size: 17px;
}


#id_theme {
	background-color: #26292E !important;
	border: 1px solid #141518;
	color: #FFFFFF;
	width: 275px;
	height: 40px;
	box-shadow: none;
	content: "▼";
}
#id_theme:focus {
	outline: none !important;
}

#id_tags {
	background-color: #26292E !important;
	border: 1px solid #141518;
	color: #FFFFFF;
	width: 275px;
	height: 150px;
	box-shadow: none;
}
#id_tags:focus {
	outline: none !important;
}
#id_tags::-webkit-scrollbar {
    width: 10px;
}
#id_tags::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 50%);
    background: #FF5D5F;
    border-radius: 5px;
}
#id_tags::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgb(0 0 0 / 30%);
    background: #26292E;
}

#id_preview, #id_video:hover {
	cursor: pointer;
}
#id_preview, #id_video:focus {
	outline: none;
}

.errorlist {
	margin-left: 0;
	margin-top: 1.5%;
}
.errorlist li {
	list-style-type: none;
	color: #DE5E60;
}