<!-- Themes -->
<nav id="options" class="work-nav">
    <ul id="filters" class="option-set" data-option-key="filter">
        <li class="type-work">Themes</li>
        <li><a href="#filter" data-option-value="*" class="selected">All Videos</a></li>
        <li><a href="#filter" data-option-value=".layout">Layout</a></li>
        <li><a href="#filter" data-option-value=".frontend">Frontend</a></li>
        <li><a href="#filter" data-option-value=".backend">Backend</a></li>
        <li><a href="#filter" data-option-value=".game">Games</a></li>
    </ul>
</nav>