{% extends "base.html" %}

{% block title %}Add video{% endblock title %}


{% block content %}
	<div class="container">
	    <!-- Title Page -->
	    <div class="row">
	        <div class="span12">
	            <div class="title-page">
	                <h2 class="title">Add Video</h2>
	                <h3 class="title-description">You can upload a new video or provide a link to your YouTube video.</h3>
	            </div>
	        </div>
	    </div>

	    {% include "inc/_switcher_add_video_forms.html" %}
	    
	    <div class="row">
			<!-- Form -->
			<div class="span12">    
				<form enctype="multipart/form-data" 
				action="
					{% if current_form_type == 'upload' %}
						{% url 'add_video' %}
					{% elif current_form_type == 'youtube' %}
						{% url 'add_youtube_video' %}
					{% else %}
						#
					{% endif %}				
					" 
				method="POST" class="add-video-form" id="contact-form">
					{% csrf_token %}
					{% if current_form_type == 'upload' %}						
						<p>{{ form.non_field_errors }}</p>
						{{ form.title.errors }}
						<p>{{ form.title }}</p>
						{{ form.description.errors }}
						<p>{{ form.description }}</p>
						{{ form.theme.errors }}
						<p>{{ form.theme }}</p>
						{{ form.tags.errors }}
						<p>{{ form.tags }}</p>
						{{ form.preview.errors }}
						<div class="add-video-input-block">
							<label id="upload-preview-input" for="id_preview">Select preview...</label>
							{{ form.preview }}
						</div>
						{{ form.video.errors }}
						<div class="add-video-input-block">
							<label id="upload-video-input" for="id_video">Select video...</label>
							{{ form.video }}
						</div>

						<script>
							// Display name of installed preview in input's label
							document.getElementById('id_preview').addEventListener('change', function() {
								var splittedFakePath = this.value.split('\\');
								console.log(splittedFakePath)
								if (!splittedFakePath[splittedFakePath.length - 1]) {
									document.getElementById('upload-preview-input').textContent = "Select preview..."
								}
								else {
									document.getElementById('upload-preview-input').textContent = splittedFakePath[splittedFakePath.length - 1];
								}
							});

							// Display name of installed video in input's label
							document.getElementById('id_video').addEventListener('change', function() {
								var splittedFakePath = this.value.split('\\');
								if (!splittedFakePath[splittedFakePath.length - 1]) {
									document.getElementById('upload-video-input').textContent = "Select video..."
								}
								else {
									document.getElementById('upload-video-input').textContent = splittedFakePath[splittedFakePath.length - 1];
								}
							});
						</script>
						
					{% else %}
						<p>{{ form.non_field_errors }}</p>
						{{ form.iframe_code.errors }}
						<p>{{ form.iframe_code }}</p>
						{{ form.theme.errors }}
						<p>{{ form.theme }}</p>
						{{ form.tags.errors }}
						<p>{{ form.tags }}</p>
					{% endif %}

					<input type="submit" class="submit-add-video" value="Save">
				</form>
			</div>     
	    </div>
	</div>

<script>
	// Show tags by current selected theme in add-video form
	select_theme_block = document.getElementById('id_theme')
	select_tag_block = document.getElementById('id_tags')

	// triggered when changing the selection
	select_theme_block.addEventListener('change', function() {
	    token = get_csrf_token();
	    $.ajax({
	        type: "POST",
	        url: location.protocol + '//' + location.host + '/ajax/tags_by_theme/',
	        data: {
	            'theme' : select_theme_block.options[select_theme_block.selectedIndex].text, // send chosen theme name
	            "csrfmiddlewaretoken" : token
	        },
	        success: function(response) {              
	            tag_list = merge_into_single_array(response) // get one list of tags by chosen theme
	            show_tags_by_theme(tag_list) // show only suitable ones
	        },
	        error: function(error) {
	            show_tags_by_theme("all") // if something went wrong, leave all tags visible
	        }
	    })
	});
</script>
{% endblock content %}