{% extends "base.html" %}

{% block title %}Add video{% endblock title %}


{% block content %}
	<div class="container">
	    <!-- Title Page -->
	    <div class="row">
	        <div class="span12">
	            <div class="title-page">
	                <h2 class="title">Add Video</h2>
	                <h3 class="title-description">You can upload a new video or provide a link to your YouTube video.</h3>
	            </div>
	        </div>
	    </div>

	    {% include "inc/_switcher_add_video_forms.html" %}
	    
	    <div class="row">
			<!-- Form -->
			<div class="span12">    
				<form enctype="multipart/form-data" 
				action="
					{% if current_form_type == 'upload' %}
						{% url 'add_video' %}
					{% elif current_form_type == 'youtube' %}
						{% url 'add_youtube_video' %}
					{% else %}
						#
					{% endif %}				
					" 
				method="POST" class="add-video-form" id="contact-form">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" class="submit-add-video" value="Save">
				</form>
			</div>     
	    </div>
	</div>

{% endblock content %}