{% extends "base.html" %}

{% block title %}Add video{% endblock title %}


{% block content %}
	<div class="container">
	    <!-- Title Page -->
	    <div class="row">
	        <div class="span12">
	            <div class="title-page">
	                <h2 class="title">Add Video</h2>
	                <h3 class="title-description">You can upload a new video or provide a link to your YouTube video.</h3>
	            </div>
	        </div>
	    </div>

	    {% include "inc/_switcher_add_video_forms.html" %}
	    
	    <div class="row">
			<!-- Form -->
			<div class="span12">    
				<form enctype="multipart/form-data" 
				action="
					{% if current_form_type == 'upload' %}
						{% url 'add_video' %}
					{% elif current_form_type == 'youtube' %}
						{% url 'add_youtube_video' %}
					{% else %}
						#
					{% endif %}				
					" 
				method="POST" class="add-video-form" id="contact-form">
					{% csrf_token %}
					{{ form.as_p }}
					<input type="submit" class="submit-add-video" value="Save">
				</form>
			</div>     
	    </div>
	</div>

<script>
	// Show tags by current selected theme in add-video form
	select_theme_block = document.getElementById('id_theme')
	select_tag_block = document.getElementById('id_tags')

	// triggered when changing the selection
	select_theme_block.addEventListener('change', function() {
	    token = get_csrf_token();
	    $.ajax({
	        type: "POST",
	        url: location.protocol + '//' + location.host + '/ajax/tags_by_theme/',
	        data: {
	            'theme' : select_theme_block.options[select_theme_block.selectedIndex].text, // send chosen theme name
	            "csrfmiddlewaretoken" : token
	        },
	        success: function(response) {              
	            tag_list = merge_into_single_array(response) // get one list of tags by chosen theme
	            show_tags_by_theme(tag_list) // show only suitable ones
	        },
	        error: function(error) {
	            show_tags_by_theme("all") // if something went wrong, leave all tags visible
	        }
	    })
	});
</script>
{% endblock content %}