{% extends 'base.html' %}
{% load theme_sidebar %}

{% load static %}
{% load cache %}


{% block title %} Hubinter {% endblock %}

{% block alert %}{% endblock %}

{% block content %}
    <!-- Portfolio Projects -->
    <div class="row">

    	<div class="span3">
    		{% get_theme_sidebar %}
        </div>
        
        <div class="span9">
        	<div class="row">
            	<section id="projects">
                	<ul id="thumbs">
                    	
					    {% for video in videos %}
							<li class="item-thumbs span3 {{ video.theme | lower }}">
						    	<a class="preview-block-link" href="{{ video.get_absolute_url }}">
						        	<img src="{{ video.cropped_preview.url }}" alt="{{ video.title }}" style="width: 100%;">
									<div class="tab-content">
										<div class="tab-pane fade active in" id="tab3">
											<p class="preview-video-title">
												{{ video.title | truncatewords:8 | truncatechars:75 }}
											</p>
										</div>
									</div>
								</a>
						    </li>
						{% endfor %}

                    </ul>
                </section>            
        	</div>
        </div>

    </div>
{% endblock %}

{# class="hover-wrap fancybox" #}

{# <span class="overlay-img"></span>
<span class="overlay-img-thumb font-icon-plus"></span> #}