{% extends 'base.html' %}
{% load static %}

{% block title %}
	{{ video.title }}
{% endblock title %}


{% block content %}
	<style>
		#work {
			padding: 10px 0 !important;
		}

		#work .container {
			width: 80%;
		}
	</style>
	<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/afterglowplayer@1.x"></script>

	<!-- Videoplayer -->
	{% if video_type == "uploaded" %}
		<video class="afterglow" data-skin="dark" id="videoplayer-unique" width="1280" height="720" poster="{{ video.preview.url }}">
			<source type='video/mp4;' src="{{ video.video.url }}"/>
			<source type='video/webm;' src="{{ video.video.url }}"/>
		</video>

		<!-- Video's information, likes and sharing -->
		<div class="video__information-interaction__area">
			<div class="video__information-interaction">
				<div class="video__title">
					<h3 class="video-title">{{ video.title }}</h3>
				</div>
				<div class="video__like-share">

					<ul class="nav nav-tabs like-dislike-switcher" id="myTab">
						<li id="like-block" {% if video in user.liked_videos.all %} class="active" {% endif %}>
							<a 
							class="no-padding {% if video in user.liked_videos.all %} active {% endif %}" 
							id="like-btn" onclick="put_remove__like_dislike('like-btn', '{{ video.slug }}')" data-toggle="tab">
								<div class="counter-icon__area">
									<span class="marker-counter" id="like-counter">{{ video.likes }}</span>
									<img class="like-dis__icon" src="{% static '\images\video_interactive\like.png' %}">
								</div>
							</a>
						</li>
						<li id="dislike-block" {% if video in user.disliked_videos.all %} class="active" {% endif %}>
							<a 
							class="no-padding {% if video in user.disliked_videos.all %} active {% endif %}" 
							id="dislike-btn" onclick="put_remove__like_dislike('dislike-btn', '{{ video.slug }}')" data-toggle="tab">
								<div class="counter-icon__area">
									<span class="marker-counter" id="dislike-counter">{{ video.dislikes }}</span>
									<img class="like-dis__icon" src="{% static '\images\video_interactive\dislike.png' %}">
								</div>
							</a>
						</li>
					</ul>

					<ul class="nav nav-tabs share-switcher">
						<li style="margin-right: 0;"><a class="share-btn" data-toggle="modal" data-target="#exampleModalCenter">Share...</a></li>
					</ul>

				</div>
			</div>
		</div>
	{% else %}
		<div class="video_player-area">
			{{ video.iframe_code | safe }}
		</div>

		<!-- Video YT information and sharing -->
		<div class="video__information-interaction__area">
			<div class="video__information-interaction">
				<div class="video-yt__title">
					<h3 class="video-title">{{ video.title }}</h3>
				</div>
				<div class="video-yt__share">
					<ul class="nav nav-tabs share-switcher">
						<li style="margin-right: 0;"><a class="share-btn" data-toggle="modal" data-target="#exampleModalCenter">Share...</a></li>
					</ul>
				</div>
			</div>
		</div>
	{% endif %}

		<h5>
			<span class="yellow-text">{{ video.views }} views</span>
			<span class="side-margins">&#8226;</span>
			Published: <span class="yellow-text">
				{% if video_type == "youtube" %}
					{{ video.get_added_at }}
				{% else %}
					{{ video.get_created_at }}
				{% endif %}
			</span>
		</h5>

	<!-- Author, subscribers, description, subscribe button -->
	<div class="author__information__area">
		<div class="author__avatar-username">
			<div class="avatar-area">
				<a href="###">
					<img src="{{ author_avatar }}" class="author-avatar">
				</a>
			</div>
			<div class="username-area">
				<h3>{{ author_username | truncatechars:30 }}</h3>
				<h6 id="subs-counter" class="red-text" style="margin-top: -20px;">{{ author_subscribers }} subs</h6>
			</div>
		</div>

		<div class="author__subscribe-btn">
			<div class="wrapper_subscribe-btn">
				<a id="subscribe-btn" onclick="subscribe_unsubscribe('{{ author_username }}')" 
				{% if current_user in author_object.subscribers.all %}
					class="share-btn subscribe-btn subscribed">SUBSCRIBED</a>
				{% else %}
					class="share-btn subscribe-btn">SUBSCRIBE</a>
				{% endif %}
			</div>
			<div class="icons-example wrapper_notifications-btn"
				{% if author_object == current_user %}
					style="display: none !important;" 
				{% elif current_user not in author_object.subscribers.all %}
					style="display: none !important;"
				{% elif current_user.is_anonymous %}
					style="display: none !important;" 
				{% endif %} 
			>
				<ul>
					<li style="margin: 0 !important;">
						<a id="notification-btn" onclick="notification('{{ author_username }}')" 
							{% if current_user in author_object.notifications.all %}
								class="btn-with-icon notified"
							{% else %}
								class="btn-with-icon"
							{% endif %}	
						>
							<span style="line-height: 62px; font-size: 26px; max-height: 100%;" class="font-icon-bell"></span>
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Comments -->
	{% if video_type == "uploaded" %}
		<div class="comment__area">
			<h4>{{ video.comments_amount }} comments</h4>
			{% if comment_form %}
				<div class="leave-comment">		
					<form action="{% url 'add_comment' video.slug %}" method="POST" id="contact-form" class="comment-form">
						{% csrf_token %}
						{% for field in comment_form %}
							{{ field.errors }}
							{{ field }}
						{% endfor %}
						<div class="submit-comment__area">
							<input type="submit" id="submit-comment-btn" class="submit disabled" value="Comment">
						</div>
					</form>
				</div>

				<script>
					var comment_text_input = document.getElementById("contact_message");
					var comment_submit_btn = document.getElementById("submit-comment-btn");
					comment_text_input.addEventListener('input', function() {
						if (this.value == '') {
							comment_submit_btn.classList.remove("active__comment-submit")
						}
						else {
							comment_submit_btn.classList.add("active__comment-submit")
						}
					});
				</script>
			{% else %}
				You should sign in to leave comments.
			{% endif %}

			{% if my_comments or comments %}
				<hr>
				{% if my_comments %}
					<div class="my-comments">
						{% for comment in my_comments %}
							<b>{{ comment.author }}</b>
							<p>{{ comment.text }}</p>
						{% endfor %}
					</div>
				{% endif %}
				<hr>
				{% if comments %}
					<div class="comments">
						{% for comment in comments %}
							<b>{{ comment.author }}</b>
							<p>{{ comment.text }}</p>
						{% endfor %}
					</div>
				{% endif %}

			{% else %}
				No comments.
			{% endif %}
		</div>
	{% endif %}

{% endblock content %}



{% block unlimited_content %}

	<div style="display: none;" class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
		<div class="modal-dialog modal-dialog-centered" role="document">
			<div class="modal-content share-popup-content">
				<div style="border-bottom: none;" class="modal-header">
					<h3 class="modal-title" id="exampleModalLongTitle">Share this video via:</h3>
				</div>
				<div class="modal-body share-popup-body">
					<div class="share-icon">
						<a href="http://vk.com/share.php?url=http://localhost:8000{{ video.get_absolute_url }}" target="_blank" rel="nofollow">
							<img src="{% static 'images/social_icons/vk-square-icon.png' %}" width="64">
						</a>
					</div>
					<div class="share-icon">
						<a href="https://twitter.com/share?url=http://localhost:8000{{ video.get_absolute_url }}" target="_blank" rel="nofollow">
							<img src="{% static 'images/social_icons/twitter-square-icon.png' %}" width="64">
						</a>
					</div>
					<div class="share-icon">
						<a href="https://plus.google.com/share?url=http://localhost:8000{{ video.get_absolute_url }}" target="_blank" rel="nofollow">
							<img src="{% static 'images/social_icons/google-plus-square-icon.png' %}" width="64">
						</a>
					</div>
					<div class="share-icon">
						<a href="https://www.facebook.com/sharer/sharer.php?u=http://localhost:8000{{ video.get_absolute_url }}" target="_blank" rel="nofollow">
							<img src="{% static 'images/social_icons/facebook-square-icon.png' %}" width="64">
						</a>
					</div>
				</div>
				<div class="modal-footer share-popup-footer">
					<button type="button" class="button button-mini share-popup-close" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

{% endblock unlimited_content %}