{% extends 'base.html' %}

{% load cache %}


{% block title %}{% endblock title %}

{% block alert %}{% endblock alert %}


{% block content %}
	{% include "inc/_searchbar.html" %}

    <div class="span12">
    	<div class="row">
        	<section id="projects">
            	<ul id="thumbs">
                	
					    {% for video in found_videos %}
							<li class="item-thumbs span3 {{ video.theme | lower }} {% for tag in video.tags.all %} {{ tag | lower }}{% endfor %}">
						    	<a class="preview-block-link" href="{{ video.get_absolute_url }}">
						        	<img src="{{ video.cropped_preview.url }}" alt="{{ video.title }}" style="width: 100%;">
									<div class="tab-content">
										<div class="tab-pane fade active in" id="tab3">
											<p class="preview-video-title">
												{{ video.title | truncatewords:8 | truncatechars:75 }}
												<br><br>
												<span class="red-text">
													{% if video.author %}
														{{ video.author | truncatechars:30 }}
													{% else %}
														{{ video.added_by | truncatechars:30 }}
													{% endif %}						
												</span>
												<br><br>
												<i><span>
													{% if video.get_created_at %}
														{{ video.get_created_at }}
													{% else %}
														{{ video.get_added_at }}
													{% endif %}
												</span></i>
												<br><br>
												<span class="yellow-text">{{ video.views }} views</span>
											</p>
										</div>
									</div>
								</a>
						    </li>
						{% endfor %}

                </ul>
            </section>            
    	</div>
    </div>
{% endblock content %}