{% extends "base.html" %}

{% block title %}
	{{ title }}
{% endblock title %}


{% block content %}
	<div class="container">

	    <!-- Title Page -->
	    <div class="row">
	        <div class="span12">
	            <div class="title-page">
	                <h2 class="title">Reset completed!</h2>
	                <h3 class="title-description">Congratulations! You reset password sucessfully!</h3>
	                <h3 class="title-description">Now you can return to authorization.</h3>
	            </div>
	        </div>
	    </div>

		<a href="{% url 'login' %}" style="width: 25% !important; margin-top: 4% !important;" class="submit-login-register">Back to authorization</a>

	</div>
{% endblock content %}