{% extends "base.html" %}

{% block title %}
	{{ title }}
{% endblock title %}


{% block content %}
	<div class="container">

	    <!-- Title Page -->
	    <div class="row">
	        <div class="span12">
	            <div class="title-page">
	                <h2 class="title">Enter your new password</h2>
	            </div>
	        </div>
	    </div>

		<form method="POST" class="login-register-form" id="contact-form">
			{% csrf_token %}
			<p>{{ form.new_password1.errors }}</p>
			<p>{{ form.new_password2.errors }}</p>
			<p>{{ form.new_password1 }}</p>
			<p>{{ form.new_password2 }}</p>
			<input type="submit" style="margin-top: 4% !important;" class="submit-login-register" value="Reset">
		</form>

	</div>
{% endblock content %}