{% extends "base.html" %}

{% block title %}
	{{ title }}
{% endblock title %}


{% block content %}
	<div class="container">

	    <!-- Title Page -->
	    <div class="row">
	        <div class="span12">
	            <div class="title-page">
	                <h2 class="title">Reset link was sent</h2>
	                <h3 class="title-description">
	                	We've e-mailed you instructions for setting your password to the e-mail address you submitted.
	            	</h3>
	                <h3 class="title-description">You should be receiving it shortly.</h3>
	            </div>
	        </div>
	    </div>


		<a href="{% url 'login' %}" style="width: 25% !important; margin-top: 4% !important;" class="submit-login-register">Back to authorization</a>


	</div>
{% endblock content %}