{% extends "base.html" %}
{% load static %}

{% block title %}
	{{ title }}
{% endblock title %}


{% block content %}
	<div class="container">

	    <!-- Title Page -->
	    <div class="row">
	        <div class="span12">
	            <div class="title-page">
	                <h2 class="title">Registration</h2>
	            </div>
	        </div>
	    </div>

		<form action="{% url 'register' %}" method="POST" class="login-register-form" id="contact-form">
			{% csrf_token %}
			<p>{{ form.name.errors }}</p>
			<p>{{ form.name }}</p>
			<p>{{ form.email.errors }}</p>
			<p>{{ form.email }}</p>
			<p>{{ form.username.errors }}</p>
			<p>{{ form.username }}</p>
			<p>{{ form.password2.errors }}</p>
			<p>{{ form.password1 }}</p>
			<p>{{ form.password2 }}</p>
			<input type="submit" style="margin-top: 4% !important;" class="submit-login-register" value="Register">
		</form>

		<div class="row" style="margin-bottom: 6%;">
			<div class="social-auth-title-block">
				<h2 class="social-auth-title">Enter with:</h5>
			</div>
			<div class="span12 social-auth-icons-block">
				<a class="vk-oauth" href="{% url 'social:begin' 'vk-oauth2' %}">
					<img src="{% static 'images/social_icons/vk-icon.png' %}" data-toggle="tooltip">
				</a>
				<a class="google-oauth" href="{% url 'social:begin' 'google-oauth2' %}">
					<img src="{% static 'images/social_icons/google-icon.png' %}" data-toggle="tooltip">
				</a>
			</div>
		</div>

	</div>
{% endblock content %}