{% extends 'base.html' %}

{% load static %}


{% block title %} Contact {% endblock %}

{% block alert %}{% endblock %}

{% block unlimited_content %}
	{% include 'inc/_hide_workarea.html' %}
	
	<!-- Contact Section -->
	<div id="contact" class="page">
		<div class="container">
		    <!-- Title Page -->
		    <div class="row">
		        <div class="span12">
		            <div class="title-page">
		                <h2 class="title">Get in Touch</h2>
		                <h3 class="title-description">Send us your feedback and suggestions.</h3>
		                {% if user.is_anonymous %}
		                	<h3 class="title-description red-text">Log in to send an email!</h3>
		                {% endif %}
		            </div>
		        </div>
		    </div>	    
		    <!-- Contact Form -->
		    <div class="row">
		    	<div class="span9">

		        	<form id="contact-form" class="contact-form" method="POST" action="{% url 'contact' %}">
		        		<p>{{ form.non_field_errors }}</p>
		        		{% csrf_token %}
		            	<p class="contact-name">
		            		{{ form.full_name }}
		                </p>
		                <p class="contact-email">
		                	{{ form.email }}
		                </p>
		                <p class="contact-message">
		                	{{ form.message }}
		                </p>
		                <p class="contact-captcha">
		                	{{ form.captcha.errors }}
		                	<div class="contact-captcha-block">
		                		{{ form.captcha }}
		                	</div>
		                	<script>
		                		$("#id_captcha_1").attr("placeholder", "Enter captcha...");
		                	</script>
		                </p>
		                <p class="contact-submit">
		                	<input value="Send Your Email" id="feedback-submit" type="submit" 
		                	{% if not form.message.value %}
		                		disabled="disabled" class="submit disabled-submit-btn"
		                	{% else %}
		                		class="submit"
		                	{% endif %}
		                	>
		                </p>
		                
		                <div id="response"></div>
		            </form>

			        <script>
						var message_text_input = document.getElementById("id_message");
						var contact_submit_btn = document.getElementById("feedback-submit");
						message_text_input.addEventListener('input', function() {
							if (!this.value.trim()) {
								contact_submit_btn.classList.remove("active__comment-submit")
								contact_submit_btn.classList.add("disabled-submit-btn")
								contact_submit_btn.setAttribute("disabled", "disabled")
							}
							else {
								contact_submit_btn.classList.add("active__comment-submit")
								contact_submit_btn.classList.remove("disabled-submit-btn")
								contact_submit_btn.removeAttribute("disabled")
							}
						});

						const padding = message_text_input.offsetHeight - message_text_input.clientHeight;
						message_text_input.oninput = e => {
						    message_text_input.style.height = 'auto';
						    message_text_input.style.height = message_text_input.scrollHeight + padding + 'px';
						};
					</script>

		        </div>

		        <div class="span3">
		        	<div class="contact-details">
		        		<h3>Contact Details</h3>
		                <ul>
		                    <li>Telegram: <a href="https://t.me/try2py">https://t.me/try2py</a></li>
		                    <li>VK: <a href="https://vk.com/try2py">https://vk.com/try2py</a></li>
		                    <li>
		                        Subscribe to our Python groups too!
		                    </li>
		                </ul>
		            </div>
		        </div>
		    </div>
		    <!-- End Contact Form -->
		</div>
	</div>
{% endblock %}