<div class="accordion-group" id="tag-accordion">
    <div class="accordion-heading accordionize">
        <a class="accordion-toggle white-text" data-toggle="collapse" data-parent="#accordionArea" href="#oneArea">
            <b id="tag-accordion-title" style="font-weight: 300;">ALL TAGS</b>
            <span class="font-icon-arrow-simple-down"></span>
        </a>
    </div>
    <div id="oneArea" class="accordion-body collapse">
        <div id="filters" class="accordion-inner option-set" data-option-key="filter">
            {% for tag in tags %}
                <a onclick="show_videos_by_tag( '{{ tag.name | lower }}', '{{ tag.theme.name | lower }}' )" 
                id="tag-btn-{{ tag.name | lower }}" class="button button-mini tag-button {{ tag.theme }}"
                href="#filter" data-option-value=".{{ tag.name | lower }}">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </div>
</div>